h1 {
  text-align: center;
}

.content {
  width: 40%;
  margin-left: 30%;
  min-height: 35rem;
  padding: 1% 0 2.5% 0;
  background-color: darkgray;
}

.content1 {
  width: 50%;
  padding: 1rem;
  max-height: 2rem;
  margin: 1.5rem 0 0 25%;
  background-color: gray;
}

h4 {
  display: inline-block;
  margin: 0 0 0 2.5%;
  color: white;
}

button {
  float: right;
  line-height: 1rem;
}